<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <title>
        Taschenrechner
    </title>
</head>
<script>
    function save(char){
        if (char == "+"){
            char = "p"
        }
        xhttp = new XMLHttpRequest()
        xhttp.open("GET", "/DB?char="+char, true)
        xhttp.send()
    }

    function insert(num){
        document.form.textview.value=document.form.textview.value+num
        save(num)
    }

    function equal(){
        var exp=document.form.textview.value
        try{
                var eva =eval(exp)
                if (eva == "Infinity"){
                    eva="Kann nicht durch 0 teilen"
                }
                document.form.textview.value = eva
            }
        catch(err){
            document.form.textview.value = "Keine gültige Rechnung"
        }
        save("=")
    }

    function clean(){
        document.form.textview.value=""
        save("C")
    }

    function back(){
        var exp=document.form.textview.value
        document.form.textview.value=exp.substring(0, exp.length-1)
        save("B")
    }

</script>
<style>
    .button{
        font-size: large;
        width: 50px;
        height: 50px;
        background-color: rgb(255,96,58);
        color:white;
    }

    Body{
        background-color: dimgrey;
    }

    .textview{
        padding: 2px;
        margin: 2px;
        width: 208px;
        height: 30px;
        font-size: large;
    }

    .main{border: solid black;
        position: absolute;
        width: 220px;
        height: 312px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

    }
</style>


<body>
    <div class="main">        <!--klassifiziert den gesamten rechner unter dem namen main-->

        <form name="form">            <!--ravioli ravioli, gib mir die formuioli-->
          <th><input class="textview" name="textview" readonly></th> <script> document.form.textview.value=""</script>
            <table>
                <tr>    <!-- -->
                    <td><input type="button" class="button" value="(" onclick="insert('(')"></td>    <!--well...buttons-->
                    <td><input type="button" class="button" value=")" onclick="insert(')')"></td>
                    <td><input type="button" class="button" value="B" onclick="back()"></td>
                    <td><input type="button" class="button" value="C" onclick="clean()"></td>
                </tr>

                <tr>
                    <td><input type="button" class="button" value="7" onclick="insert(7)"></td>
                    <td><input type="button" class="button" value="8" onclick="insert(8)"></td>
                    <td><input type="button" class="button" value="9" onclick="insert(9)"></td>
                    <td><input type="button" class="button" value="/" onclick="insert('/')"></td>
                </tr>

                <tr>
                    <td><input type="button" class="button" value="4" onclick="insert(4)"></td>
                    <td><input type="button" class="button" value="5" onclick="insert(5)"></td>
                    <td><input type="button" class="button" value="6" onclick="insert(6)"></td>
                    <td><input type="button" class="button" value="*" onclick="insert('*')"></td>
                </tr>

                <tr>
                    <td><input type="button" class="button" value="1" onclick="insert(1)"></td>
                    <td><input type="button" class="button" value="2" onclick="insert(2)"></td>
                    <td><input type="button" class="button" value="3" onclick="insert(3)"></td>
                    <td><input type="button" class="button" value="-" onclick="insert('-')"></td>
                </tr>

                <tr>
                    <td><input type="button" class="button" value="0" onclick="insert(0)"></td>
                    <td><input type="button" class="button" value="." onclick="insert('.')"></td>
                    <td><input type="button" class="button" value="=" onclick=equal()></td>
                    <td><input type="button" class="button" value="+" onclick="insert('+')"></td>
                </tr>
            </table>
        </form>
    </div>

</body>

</html>